PORT=

FRONTEND_URL=
MAIN_PAGE_URL=
BACKEND_API_KEY=

MYSQL_HOST=
MYSQL_PORT=
MYSQL_USER=
MYSQL_PASSWORD=
MYSQL_DATABASE=

EMPLOYEE_PASSWORD_SECRET=

FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
FIREBASE_DATABASE_URL=
FIREBASE_STORAGE_BUCKET=
FIREBASE_WEB_API_KEY=

CLAUDINARY_NAME=
CLAUDINARY_API_KEY=
CLAUDINARY_SECRET=